.contenedor-contacto {
  display: flex;
  margin-top: 5%;
  margin-left: 18%;
  margin-right: 19%;
  font-size: 0.4rem;
  padding-bottom: 10%;
  position: relative;
}
.logo-logoface {
  width: 33%;
  position: relative;
  font-size: x-large;
}
.logo-logoinsta {
  width: 33%;
  position: relative;
  font-size: x-large;
}
.logo-logowsp {
  width: 33%;
  position: relative;
  font-size: x-large;
}
