.historia {
  display: flex;
  margin-top: 1%;
  margin-left: 18%;
  margin-right: 19%;
  font-size: 0.4rem;
  position: relative;
}
.comienzo-imagen {
  position: relative;
  width: 50%;
  font-size: 0.5rem;
}
.comienzo-texto {
  position: relative;
  font-size: 1.7rem;
  width: 50%;
}
