.img-alumno1 {
  display: flex;
  margin-right: 10%;
  width: 15%;
  height: 10%;
}

.nosotros-conteiner {
  display: flex;
  margin-top: 1%;
  margin-bottom: 2%;
  margin-left: 18%;
  margin-right: 19%;
  font-size: 2rem;
  position: relative;
}
